<%- layout('base') %>

<div class="about">
	<p>О ПРОЕКТЕ</p>
	<p class="mission">Интернет-издание Твой космос было создано в конце августа 2014 года. Своей миссией мы считаем привнесение в жизнь общества новой ветви интересов, таких как открытия и разработки в сфере космоса, технологических инноваций, а так же физики и тесно связанных с ней дисциплин.</p>
	<p style="margin-top: 40px">ВОЗМОЖНОСТЬ САЙТУ РАДОВАТЬ ЧИТАТЕЛЕЙ ДАЛИ</p>
	<div>
		<p class="phone">+7 ( 909 ) 695 27 23</p>
		<p class="usr">Антонов Филипп</p>
		<p class="spec">Руководитель проекта</p>
	</div>

	<div>
		<p class="phone">+7 ( 906 ) 701 72 06</p>
		<p class="usr">Самсонов Дмитрий</p>
		<p class="spec">Главный редактор</p>
	</div>

</div>


<style>
	.about {
		width: 100%;
		text-align: center;
		padding: 50px 0 50px;
	}
	.about > p {
		font-family: 'RobCondBold';
		font-size: 30px;
	}
	.about p.mission {
		padding: 0 30%;
		text-align: center;
		font: normal 16px/20px 'RobCondLight';
	}
	.about > div {	
		margin: 0px auto 10px;
		width: 200px;
		padding: 10px;
		font-size: 15px;
		-webkit-transition: all .4s;
		-moz-transition: all .4s;
		transition: all .4s;
	}
	.about > div:hover {
		background-color: rgba(255, 181, 46, .5);
	}
	.about > div > p {
		padding: 0;
		margin: 0;
	}
	.about > div > .phone {
		color: #777;
		font-family: 'RobCondBold';
		font-size: 20px;
	}
	.about > div > .usr {
		color: #444;
		font-family: 'RobCondBold';
		font-size: 22px;
	}
	.about > div > .spec {
		color: #222;
		font-family: 'RobCondBold';
		font-size: 14px;
	}


</style>