<%- layout('base.ejs')%>
<% script("/libs/tinymce/tinymce.min.js") -%>
<% script("/libs/angular-ui-tinymce/src/tinymce.js") -%>
<% script("/javascripts/utils.js") -%>
<% script("/javascripts/admin.js") -%>
<% script("/javascripts/directives/news_element.js") -%>
<% stylesheet("/stylesheets/index.css") -%>
<% stylesheet("/stylesheets/admin.css") -%>
<% stylesheet("/libs/fontawesome/css/font-awesome.min.css") -%>

<div class="admin-page" ng-app="admin" ng-controller="Admin">
	<div class="promises" ng-if="successful_save" ng-class="{ success : successful_save }"><p>Новость успешно сохранена</p></div>
	<div class="button_panel">
		<button ng-click="page='create_page'; news = {};">create</button>
		<button ng-click="page='feed_page'">feed</button>
		<button ng-click="page='list_page'">list</button>
	</div>

	<div ng-show="page=='create_page'">
		<h1>СОЗДАНИЕ/РЕДАКТИРОВАНИЕ НОВОСТИ</h1>
			
		<div class="input">
			<p class="labels">Title</p>
			<input type="text" 
				   ng-model="news.title">
			<p class="labels">Description</p>
			<textarea ng-model="news.description"></textarea>
			<p class="labels">Image</p>
			<input type="text" 
				   ng-model="news.image">
			<p class="labels">Content</p>
			<textarea ui-tinymce="tinymce_options"
				   	  ng-model="news.content"></textarea>
			<div class="button-bottom-panel">
				<button ng-if="!news._id" 
						ng-click="postNews(news, true)">Сохранить
				</button>
				<button ng-if="news._id" 
						ng-click="postNews(news)">Изменить
				</button>
			</div>
		</div>
		<div class="output">
			<news ng-model="news" class="s11"></news>
			<news ng-model="news" class="s21"></news>
			<news ng-model="news" class="s22"></news>
		</div>
	</div>
	<div ng-if="page=='feed_page'" ng-init="loadForPage(true)">
		<h1>НОВОСТНОЙ ФИД</h1>
		
		<div class="feed">
			<div ng-repeat="block in feed_blocks"
				 class="block">
				<news ng-if="element._size" 
	 				  ng-class="{ s11 : element._size == 1, s21 : element._size == 2 , s22 : element._size == 4}" 
	 				  ng-repeat="element in block.feed_elements" 
	 				  ng-model="element">
					<div class="admin-elements">
						<div class="row1">
							<span class="look">Просмотр</span>
						</div>
						<div class="row2">
							<span class="update" ng-click="loadToFormForUpdate(element)">Редактировать</span>
							<span class="delete" ng-click="deleteNews(element._id, true)">Удалить</span>
						</div>

					</div>
					
				</news>
			</div>
		</div>
	</div>

	<div ng-if="page=='list_page'" ng-init="loadForPage()"> 
		<h1>СПИСОК ВСЕХ НОВОСТЕЙ</h1>
		<div ng-repeat="news in feeds" class="news-in-list">
			
			<div class="image-info" style="background-image: url({{ news.image }})"></div>
			<span class="info">
					<p>{{ news.title }}</p>
					<p>{{ news.description }}</p>

				<span class = "button-block">
					<button ng-click="deleteNews(news._id)">Удалить</button>
					<button ng-click="loadToFormForUpdate(news)">Редактировать</button>
					<button><a href="/post/{{ news._id }}">Перейти в новость</a></button>
				</span>
			</span>
		</div>
	</div>
</div>