<%- layout('base.ejs')%>
<script src="/libs/tinymce/tinymce.min.js"></script>
<script src="/libs/angular-ui-tinymce/src/tinymce.js"></script>
<script src="/javascripts/utils.js"></script>
<script src="/javascripts/admin.js"></script>
<script src="/javascripts/directives/news_element.js"></script>
<link rel="stylesheet" href="/stylesheets/index.css">
<link rel="stylesheet" href="/libs/fontawesome/css/font-awesome.min.css">

<div class="admin-page" ng-app="admin" ng-controller="Admin">
	<div class="promises" ng-if="successful_save" ng-class="{ success : successful_save }"><p>Новость успешно сохранена</p></div>
	<div class="button_panel">
		<button ng-click="page='create_page'; news = {};">create</button>
		<button ng-click="page='feed_page'">feed</button>
		<button ng-click="page='list_page'">list</button>
	</div>
	{{ page }}

	<div ng-show="page=='create_page'">
			
		<div class="input">
			<p class="labels">Title</p>
			<input type="text" 
				   ng-model="news.title">
			<p class="labels">Description</p>
			<textarea ng-model="news.description"></textarea>
			<p class="labels">Image</p>
			<input type="text" 
				   ng-model="news.image">
			<p class="labels">Content</p>
			<textarea ui-tinymce="tinymce_options"
				   	  ng-model="news.content"></textarea>
			<div class="button-bottom-panel">
				<button ng-if="!news._id" 
						ng-click="postNews(news, true)">Сохранить
				</button>
				<button ng-if="news._id" 
						ng-click="postNews(news)">Изменить
				</button>
			</div>
		</div>
		<div class="output">
			<news ng-model="news" class="s11"></news>
			<news ng-model="news" class="s21"></news>
			<news ng-model="news" class="s22"></news>
		</div>
	</div>
	<div ng-if="page=='feed_page'" ng-init="loadForPage(true)">
		
		<div class="feed">
			<div ng-repeat="block in feed_blocks"
				 class="block">
				<news ng-if="element._size" 
	 				  ng-class="{ s11 : element._size == 1, s21 : element._size == 2 , s22 : element._size == 4}" 
	 				  ng-repeat="element in block.feed_elements" 
	 				  ng-model="element">
					<div class="admin-elements">
						<div class="row1">
							<span class="look">Просмотр</span>
						</div>
						<div class="row2">
							<span class="update" ng-click="loadToFormForUpdate(element)">Редактировать</span>
							<span class="delete" ng-click="deleteNews(element._id, true)">Удалить</span>
						</div>

					</div>
					
				</news>
			</div>
		</div>
	</div>

	<div ng-if="page=='list_page'" ng-init="loadForPage()"> 
		<div ng-repeat="news in feeds" class="news-in-list">
			
			<div class = "news-block news-main">
				<p>{{ news.title }}</p>
				<p>size : {{ news.size }}</p>
			</div>
			
			<div class = "news-block news-description">
				<p>{{ news.description }}</p>
			</div>

			<div class = "button-block">
				<button ng-click="deleteNews(news._id)">Удалить</button>
				<button ng-click="loadToFormForUpdate(news)">Редактировать</button>
				<button><a href="/post/{{ news._id }}">Перейти в новость</a></button>
			</div>
		</div>
	</div>
</div>

<style>
	.input, .output {
		float:left;
	}
	.input {
		width: 50%;
		border-top: gold;
		-webkit-transition: all 1s;
		-moz-transition: all 1s;
		transition: all 1s;
	}
	.success {
		background-color: lightgreen;
	}
	.output {
		width: 50%;
		border-top: cyan;
	}
	.promises {
		width: 100%;
		height: 40px;
		line-height: 40px;
		text-align: center;
	}
	.button-bottom-panel {
		padding: 40px 0;
	}
	p.labels {
		margin: 10px 0 0;
	}
	.input input, .input button, .input select, .input textarea {
		width: 100%;
		height: 30px;
		line-height: 30px;
		font-size: 15px;
	}
	.input textarea {
		line-height: 20px;
	}
	.input textarea {
		height: 100px;
	}
	button.size-change {
		float: left;
		width: 33.33333%;
		outline: none;
		border: 0;
	}
	button.highlighted {
		background-color: #2980b9;
	}
	/*// basic blocks additional styles for update and delete*/
	.admin-elements {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 9999;
	}
	.row1, .row2 {
		height: 50%;
		width: 100%;
		text-align: center;
	}
	.delete {
		color: #e74c3c;
	}
	.update {
		color: #2980b9;
	}
	.s11 div[class*=row], .s21 div[class*=row] {
		line-height: 100px;
	}
	.s22 div[class*=row] {
		line-height: 200px;
	}
	div[class*=row] span {
		background-color: rgba(255,255,255,.8);
		font-weight: 700;
	}
	.s11 div[class*=row] span, .s21 div[class*=row] span {
		font-size: 18px;
		padding: 3px 10px;
	} 
	.s22 div[class*=row] span {
		font-size: 25px;
		padding: 10px 20px;
	}
	.news-in-list {
		border: 1px solid #ddd;
		background-color: white;
		padding: 5px;
	}
</style>