<%- layout('base.ejs')%>
<% script("/libs/tinymce/tinymce.min.js") -%>
<% script("/build/js/utils.js") -%>
<% script("/build/js/admin.js") -%>
<% script("/javascripts/directives/news_element.js") -%>
<% stylesheet("/build/css/fonts.css") -%>
<% stylesheet("/build/css/index.css") -%>
<% stylesheet("/build/css/admin.css") -%>
<% stylesheet("/libs/fontawesome/css/font-awesome.min.css") -%>

<div class="admin-page" ng-controller="Admin" ng-init="init()">

	<div class="promises" ng-if="successful_save" ng-class="{ success : successful_save }">
		<p><span class="fa fa-thumbs-up"></span> Новость успешно сохранена</p>
	</div>

	<div class="button-top-panel">
		<button ng-class="{ selected : page=='create_page' }" class="normal-button" ng-click="page='create_page'; news = {};">СОЗДАНИЕ</button>
		<button ng-class="{ selected : page=='feed_page' }" class="normal-button" ng-click="page='feed_page'">ВИД ГЛАВНОЙ СТРАНИЦЫ</button>
		<button ng-class="{ selected : page=='list_page' }" class="normal-button" ng-click="page='list_page'">СПИСОК</button>
		<button ng-class="{ selected : page=='auth' }" 
				ng-click="page='auth'">АВТОРИЗАЦИЯ</button>
	</div>

	<div class="button-top-panel">
		<button class="normal-button" ng-class="{ selected : news_type=='normal' }" ng-click="news_type='normal'">НОРМАЛЬНЫЙ РЕЖИМ</button>
		<button class="special-button" ng-class="{ selected : news_type=='special' }" ng-click="news_type='special'">СПЕЦИАЛЬНЫЙ РЕЖИМ</button>
	</div>

	<div ng-show="page=='auth'">
		<form class="auth" action="/login" method="post">
		    <div>
		        <label>Username:</label>
		        <input type="text" name="username"/>
		    </div>
		    <div>
		        <label>Password:</label>
		        <input type="password" name="password"/>
		    </div>
		    <div class="button-top-panel">
		        <input class="btn btn-primary normal-button" type="submit" value="Log In"/>
		    </div>
		</form>
	</div>

	<div ng-show="page=='create_page'" class="create-page">
		<h1>СОЗДАНИЕ/РЕДАКТИРОВАНИЕ НОВОСТИ</h1>

		<div class="input">
			<p class="labels">Раздел новости</p>
			<select ng-model="news.section" ng-options="k as v for (k,v) in news_sections"></select>
			<p class="labels">Связанные новости</p>
			<!-- .. linked news .. -->
			<div class="linked-posts">
				<div class="each-search-linked-result" 
					 ng-repeat="post in news.linked_news"
					 ng-click="selectPostForLink(post)">
					<div class="linked-search-image" style="background-image: url({{ post.image }})"></div>
					<div class="linked-search-info">
						<p class="linked-search-title">{{ post.title }}</p>
						<p class="linked-search-description">{{ post.decription }}</p>
					</div>
				</div>
			</div>
			<button ng-click="search_zone = !search_zone">Открыть поле поиска</button>
			<div ng-show="search_zone" class="search-linked-news">
				<div class="search-panel">
					<input ng-model="search_linked.search_query" type="text"/>	
					<select ng-options="k as v for (k,v) in news_sections" 
							ng-model="search_linked.section">
					</select>
					<button ng-click="getLinkedPosts()" class="search-linked-button fa fa-search"></button>
				</div>
				<div class="search-linked-results">
					<div class="each-search-linked-result" 
						 ng-repeat="post in linked_news"
						 ng-click="selectPostForLink(post)">
						<div class="linked-search-image" style="background-image: url({{ post.image }})"></div>
						<div class="linked-search-info">
							<p class="linked-search-title">{{ post.title }}</p>
							<p class="linked-search-description">{{ post.decription }}</p>
						</div>
					</div>

				</div>

			</div>

			<!-- .. linked news .. -->
			<div ng-show="news_type=='normal'">
				<p class="labels">Заголовок</p>
				<input type="text" 
					   ng-model="news.title">
				<p class="labels">Описание</p>
				<textarea ng-model="news.description"></textarea>
				<p class="labels">Картинка</p>
				<input type="text" 
					   ng-model="news.image">
				<p class="labels">Контент</p>
				<textarea ui-tinymce="tinymce_options"
					   	  ng-model="news.content"></textarea>
			</div>
			<div ng-show="news_type=='special'">
				<p class="labels">Заголовок для особенных</p>
				<input type="text" 
					   ng-model="news.title_special">
				<p class="labels">Описание особенное</p>
				<textarea ng-model="news.description_special"></textarea>
				<p class="labels">Картинка особенная</p>
				<input type="text" 
					   ng-model="news.image_special">
				<p class="labels">Контент для особенных</p>
				<textarea ui-tinymce="tinymce_options"
					   	  ng-model="news.content_special"></textarea>
			</div>
			
			<p class="labels">Спешл новость, Лейбл для спешл новости</p>
			<input type="text" ng-model="news.special">

			<div class="button-top-panel">
				<button class="normal-button" 
						ng-if="!post_loading && !news._id" 
						ng-click="postNews(news, true)">Сохранить
				</button>

				<button class="normal-button" 
						ng-if="!post_loading && news._id" 
						ng-click="postNews(news)">Изменить
				</button>

				<button class="normal-button" ng-if="post_loading"><span class="fa fa-gear fa-spin"></span> Идет сохранение</button>
			</div>
		</div>
		<div class="output">
			<news ng-model="news" type="news_type" class="s11"></news>
			<news ng-model="news" type="news_type" class="s21"></news>
			<news ng-model="news" type="news_type" class="s22"></news>
		</div>
	</div>
	<div ng-if="page=='feed_page'" ng-init="loadForPage(true)">
		<h1 style='padding-left : 10px'>НОВОСТНОЙ ФИД</h1>
		
		<div class="feed">
			<div ng-repeat="block in feed_blocks"
				 class="block">
				<news ng-if="element._size" 
	 				  ng-class="{ s11 : element._size == 1, s21 : element._size == 2 , s22 : element._size == 4}" 
	 				  ng-repeat="element in block.feed_elements" 
	 				  ng-model="element"
	 				  type="news_type">
					<div class="admin-elements">
						<div class="row1">
							<span class="look">Просмотр</span>
						</div>
						<div class="row2">
							<span class="update" ng-click="loadToFormForUpdate(element)">Редактировать</span>
							<!-- <span class="delete" ng-click="deleteNews(element._id, true)">Удалить</span> -->
						</div>

					</div>
					
				</news>
			</div>
		</div>
	</div>

	<div class="list-page" ng-if="page=='list_page'" ng-init="loadForPage()"> 
		<h1>СПИСОК ВСЕХ НОВОСТЕЙ</h1>

		<div ng-repeat="news in feeds" class="news-in-list">
			
			<div ng-if="news_type=='normal'" class="image-info" style="background-image: url({{ news.image }})"></div>
			<!-- // -->
			<div ng-if="news_type=='special'" class="image-info" style="background-image: url({{ news.image_special }})"></div>
			<span class="info">
					<p class="title" ng-if="news_type=='normal'">{{ news.title }}</p>
					<p ng-if="news_type=='normal'">{{ news.description }}</p>
					<!-- // -->
					<p class="title" ng-if="news_type=='special'">{{ news.title_special }}</p>
					<p ng-if="news_type=='special'">{{ news.description_special }}</p>
					<p>{{ news_sections[news.section] }}</p>

				<span class="button-block">
					<button ng-click="deleteNews(news._id)">Удалить</button>
					<button ng-click="loadToFormForUpdate(news)">Редактировать</button>
					<button><a href="/post/{{ news._id }}">Перейти в новость</a></button>
				</span>
			</span>
		</div>
	</div>
</div>