<% layout('base') -%>
<% block('title', 'Твой Космос | Архив новостей') -%>
<% script("/build/js/archive.js") -%>
<% script("/libs/moment/min/moment-with-locales.min.js") -%>
<% stylesheet("/build/css/archive.css") -%>

<div class="archive" 
	 ng-controller="Archive">
	
	<div class='search'>
		<div class="search-p">
			<p>Поиск по тексту</p>
			<input type="text" 
				   ng-model="search_query">
		</div>
		<div class="search-p">
			<p>Раздел</p>
			<select ng-model="section" 
					ng-options="k as v for (k,v) in sections">
			</select>
		</div>
		<div class="search-p">
			<button ng-click="getNews()">Поиск</button>
		</div>
	</div>
	<div class='feed'>
		<div class="load"
			 ng-if="load">
			<span class="fa fa-refresh fa-spin"></span>
			Новости загружаются
		</div>
		<div class="each-feed" 
			 ng-repeat="f in feed">
			<a href="/post/{{ f._id }}">
				<div class="picture"
					 style="background-image: url({{ f.image }})"></div>
				<div class="info">
					<span>
						<p class="title">{{ f.title }}</p>
						<p class="description">{{ f.description }}</p>
						<p class="date">{{ f.date }}</p>
					</span>
				</div>
			</a>
		</div>
		

	</div>
</div>