<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=320, user-scalable=0">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/stylesheets/fonts.css">
	<%- scripts %>
	<%- stylesheets %>
	<title>Твой Космос | Новостное научно-популярное издание о науке и космосе</title>
</head>
<body>
	<%- partial('header-mobile')%>
	<%- body %>
	
</body>

<style>
	html, body {
		padding: 0;
		margin: 0;
		background-color: #eaeaea;
		border-top: 2px solid #FFB52E;
		border-bottom: 2px solid #FFB52E;
	}	
</style>

</html>