<%- layout('base.ejs') %>
<% block('title', 'Главная страница') -%>
<script src="/libs/angular-sanitize.js"></script>
<script src="/libs/moment/min/moment-with-locales.min.js"></script>
<script src="/javascripts/content.js"></script>
<script>
	window.id = '<%- id %>'
</script>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/stylesheets/content.css">

<div class="page" ng-app="content" ng-controller="contentCtrl" ng-init="init()">

	<div class="content">
		<div class="title">{{ post.title }}</div>
		<div class="date">{{ post.date }}</div>		
		<div ng-bind-html="post.content"></div>
	</div>
	<div class="list"></div>
	<div class="misc"></div>

	

</div>
