<% stylesheet('/stylesheets/footer.css') -%>
<footer>
	<div class="nav">
		<span>
			<span><a href="/about">О проекте</a></span>
			<span><a href="/contacts">Контакты</a></span>
		</span>
	</div>
	<div class="info">
		<span>
			<p style="margin-bottom:5px">ТВОЙ КОСМОС</p>
			<span>&copy; 2014 Твой Космос. Научно-популярное интернет-издание о событиях в сфере физики, космоса и технологии. Все права на тексты принадлежат изданию.</span>
		</span>
	</div>
	<div class="metric">
		<!-- Yandex.Metrika informer --><a href="https://metrika.yandex.ru/stat/?id=26010921&amp;from=informer" target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/26010921/3_0_FFD54EFF_FFB52EFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" /></a><!-- /Yandex.Metrika informer -->
	</div>

	<!-- <span class="warp">
		ВАРП НАВЕРХ
	</span> -->

</footer>
