<link href='http://fonts.googleapis.com/css?family=Lora:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Philosopher:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<div class="logo">ИСКРА</div>
<div class="logo logo2">ИСКРА</div>
<div class="logo logo3">ИСКРА</div>
<hr>

<style>
	
	.logo {
		text-align: center;
		font-size: 140px;
		height: 150px;
		line-height: 150px;
		font-family: 'Lora';
		/*font-weight: 700;*/
	}
	.logo2 {
		font-family: "Open Sans Condensed";
		font-weight: 700;
	}
	.logo3 {
		font-family: "Philosopher";
		font-weight: 700;
	}
</style>

