<% stylesheet('/stylesheets/header.css') -%>
<% stylesheet("/libs/animate.css/animate.min.css") -%>
<% script('/javascripts/header.js') -%>
<% script('/javascripts/misc.js') -%>
<nav class="top" ng-controller="HeaderCtrl">
	<span>
		<div class="top-squares">
			
		<a ng-click="goToRoot()">
			<div class="animated flipInX image">
				<div class="animated bounceInDown tk_star"></div>
				<div class="animated bounceInDown tk_text"></div>
			</div>
		</a>
		</div>
		<div class="top-squares news_type" ng-click="toggle_news_type()">		
			<p class="usn regime">MODE</p>
			<p class="usn type-name" ng-if="news_type=='normal'">НОРМАЛ</p>
			<p class="usn type-name" ng-if="news_type=='special'">СПЕШЛ</p>
		</div>
	</span>
</nav>