<%- layout('base.ejs') %>
<% block('title', 'Главная страница') -%>
<script src="/javascripts/utils.js"></script>
<script src="/javascripts/index_page.js"></script>
<script src="/javascripts/directives/news_element.js"></script>
<link rel="stylesheet" href="/stylesheets/index.css">
<div ng-app="index" ng-controller="Index" ng-init="init()">	

	<div class="feed">
		<div ng-repeat="block in feed_blocks"
			 class="block">
			<news ng-if="element._size" 
				  ng-repeat="element in block.feed_elements"
	 			  ng-class="{ s11 : element._size == 1, s21 : element._size == 2 , s22 : element._size == 4}"  
				   
				  ng-model="element"></news>
		</div>
	</div>
</div>
