<%- layout('base.ejs') %>
<% script("/build/js/utils.js") -%>
<% script("/javascripts/directives/news_element.js") -%>
<% script("/libs/owl-carousel/owl-carousel/owl.carousel.min.js") -%>
<% stylesheet("/libs/owl-carousel/owl-carousel/owl.carousel.css") -%>
<% stylesheet("/libs/owl-carousel/owl-carousel/owl.theme.css") -%>
<% stylesheet("/build/css/index.css") -%>
<% stylesheet("/libs/fontawesome/css/font-awesome.min.css") -%>
<% script("/build/js/index_page.js") -%>

<% block('meta', partial('meta_index')) -%>
<% block('title', 'Твой Космос | Новостное научно-популярное издание о науке и космосе') -%>

<div ng-app="tvoyKosmos" ng-controller="Index" ng-init="init()">	
	<div class="feed">
		<div class="block padded">
			<div class="events">
				<div id="slider" class="owl-carousel">	
					<div class="each-event">
						<div class="event-image" style="background-image: url(https://s3-eu-west-1.amazonaws.com/tvoykosmos/imgs/02_09_14_laser1.jpg)"></div>
						<div class="event-info-top">
							<span>
								<p>Это самое пиздатое в мире описание</p>
							</span>
						</div>
						<div class="event-info">
							<span>
								<p>Это самое пиздатое в мире описание</p>
							</span>
						</div>
					</div>
					<div class="each-event">
						<div class="event-image" style="background-image: url(https://s3-eu-west-1.amazonaws.com/tvoykosmos/imgs/02_09_14_laser1.jpg)"></div>
						<div class="event-info-top">
							<span>
								<p>Это самое пиздатое в мире описание</p>
							</span>
						</div>
						<div class="event-info">
							<span>
								<p>Это самое пиздатое в мире описание</p>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="article">
				<div class="article-image" style="background-image: url(https://s3-eu-west-1.amazonaws.com/tvoykosmos/imgs/02_09_14_laser1.jpg)">
					<span class="article-info">
						<p>Обзор</p>
						<p>Топ 10 кинорежиссеров снявших фильмы о космосе</p>
						<p> Добавлено тогда то. Просмотров</p>
					</span>
				</div>
				
			</div>
		</div>
		<div ng-repeat="block in feed_blocks"
			 class="block">
			<news class="anim" 
				  ng-if="element._size" 
				  ng-repeat="element in block.feed_elements"
	 			  ng-class="{ s11 : element._size == 1, s21 : element._size == 2 , s22 : element._size == 4}" 
	 			  type="news_type"  
				  ng-model="element"></news>
		</div>
	</div>

	<div class="after-feed">
		<span class="news-load" 
			  ng-if="!no_more_news"
			  ng-click="getNews(true)">
			<span class="fa fa-refresh" ng-class="{ 'fa-spin' : news_loader }"></span>
			<span ng-if="!news_loader">Больше новостей</span>
			<span ng-if="news_loader">Загружаем</span>
		</span>
		<span class="news-load" 
			  ng-if="no_more_news">
			<span>Новостей больше нет</span>
		</span>
	</div>
</div>
