<%- layout('base.ejs') %>
<% script("/javascripts/utils.js") -%>
<% script("/javascripts/index_page.js") -%>
<% script("/javascripts/directives/news_element.js") -%>
<% stylesheet("/stylesheets/index.css") -%>
<% stylesheet("/libs/fontawesome/css/font-awesome.min.css") -%>

<% block('meta', partial('meta_index')) -%>
<% block('title', 'Твой Космос | Новостное научно-популярное издание о науке и космосе') -%>

<div ng-app="tvoyKosmos" ng-controller="Index" ng-init="init()">	
	<div class="feed">
		<div ng-repeat="block in feed_blocks"
			 class="block">
			<news class="anim" ng-if="element._size" 
				  ng-repeat="element in block.feed_elements"
	 			  ng-class="{ s11 : element._size == 1, s21 : element._size == 2 , s22 : element._size == 4}"type="news_type"  
				  ng-model="element"></news>
		</div>
	</div>

	<div class="after-feed">
		<span class="news-load" ng-click="getNews(true)">
			<span class="fa fa-refresh" ng-class="{ 'fa-spin' : loader }"></span>
			<span ng-if="!loader">Загрузить еще новостей</span>
			<span ng-if="loader">Загружаем новости</span>
		</span>
	</div>
</div>
