<%- layout('base.ejs') %>
<% block('title', 'Твой Космос') -%>
<% script("/javascripts/utils.js") -%>
<% script("/javascripts/index_page.js") -%>
<% script("/javascripts/directives/news_element.js") -%>
<% stylesheet("/stylesheets/index.css") -%>
<div ng-app="index" ng-controller="Index" ng-init="init()">	

	<div class="feed">
		<div ng-repeat="block in feed_blocks"
			 class="block">
			<news ng-if="element._size" 
				  ng-repeat="element in block.feed_elements"
	 			  ng-class="{ s11 : element._size == 1, s21 : element._size == 2 , s22 : element._size == 4}"type="news_type"  
				  ng-model="element"></news>
		</div>
	</div>
</div>
