<%- layout('base.ejs') %>
<% block('title', 'Главная страница') -%>
<script src="/javascripts/utils.js"></script>
<script src="/javascripts/index_page.js"></script>
<link rel="stylesheet" href="/stylesheets/index.css">
<div ng-controller="Index" ng-init="init()">	

	<div class="feed">
		<div ng-repeat="block in feed_blocks"
			 class="block">
			<div ng-repeat="element in block.feed_elements"
				 ng-class="{ s11 : element.size == 1, s21 : element.size == 2 , s22 : element.size == 4}">
				 <div class="inner_container">
				 	<div class="img">
				 		<div class='news_title'>
					 		<p>{{ element.title }}</p>
				 		</div>
				 	</div>
				 	<div class="description">
				 		<p>{{ element.description }}</p>
				 	</div>
				 </div>
			</div>
		</div>
	</div>
</div>
