.admin-page {
	overflow: hidden;
}
.input, .output {
	float:left;
}
.input {
	width: 50%;
	border-top: gold;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}
.success {
	background-color: lightgreen;
}
.output {
	width: 50%;
	border-top: cyan;
}
news.s11, news.s21,news.s22 {
	padding: 10px;
	float: left;
	position: relative;
}
news.s11 {
	width: 50%;
	height: 405px;
}
news.s21 {
	width: 100%;
	height: 195px;
}
news.s22 {
	width: 100%;
	height: 600px;
}
.promises {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.promises p {
	font-size: 18px;
	color: #376B50;
	font-family: 'RobCondBold';
}
.button-bottom-panel {
	padding: 20px 0px;
}
.button-top-panel {
	padding: 20px 10px;
}
.button-top-panel > * {
	padding: 5px 10px;
	margin-right: 10px;
	font-size: 18px;
	font-family: 'RobCondBold';
	outline: none;
	border: 2px solid transparent;
	color: #ddd;
	box-shadow: 0 2px 5px rgba(0,0,0,.5);
	text-shadow: 0 1px 4px rgba(0,0,0,.5);
}
.button-top-panel .normal-button {
	background-color: #5F6BFF;
}
.button-top-panel .special-button {
	background-color: #FF524A;
}
.selected {
	border: 2px solid black;
	box-shadow: 0 2px 10px rgba(0,0,0,.9);
}
p.labels {
	margin: 10px 0 0;
}
.input input, .input button, .input select, .input textarea {
	width: 100%;
	height: 30px;
	line-height: 0px;
	font-size: 15px;
}
.input textarea {
	line-height: 20px;
}
.input textarea {
	height: 100px;
}
button.size-change {
	float: left;
	width: 33.33333%;
	outline: none;
	border: 0;
}
button.highlighted {
	background-color: #2980b9;
}
.list-page, .create-page {
	padding: 0px 10px;
}
.news-in-list {
	clear: both;
	background-color: #ddd;
	border: 1px solid #bbb;
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}
.news-in-list p.title {
	font-family: 'RobCondBold';
	font-size: 18px;
}
.image-info, .info {
	float: left;
	width: 800px;
}
.image-info {
	background-size: cover;
	background-position: center center;
	height: 50px;
	width: 50px;
}
.search-linked-news {
	width: 100%;
	/*min-height: 400px;*/
	margin: 10px 0;
	padding: 15px;
	border: 1px solid #ddd;
}
.search-linked-news .search-panel > input, 
.search-linked-news .search-panel > select, 
.search-linked-news .search-panel > button {
	width: 45%;
	height: 30px;
	float: left;
}
.search-linked-news .search-linked-results {
	border: 1px solid #ddd;
	width: 100%;
	/*min-height: 330px;*/
	margin-top: 10px;
	clear: left;
	padding: 10px;
}
.search-linked-news .search-panel .search-linked-button {
	width: 10%;
	display: inline-block;
	height: 30px;
	background-color: blue;
	color: white; 
	border: none;
	outline : none;
	text-align: center;
	font-size: 20px;
	line-height: 30px;
}
.each-search-linked-result {
	height: 40px;
	margin-bottom: 4px;
	padding: 3px;
	clear: left;
}
.each-search-linked-result p {
	margin: 2px;
	padding: 0;
}
.each-search-linked-result .linked-search-info {
	float: left;
	width: 470px;
	padding: 0 10px
}
.linked-search-info .linked-search-title {
	font-family: 'RobCondBold';
	font-size: 15px;
}
.linked-search-info .linked-search-description {
	font-family: 'RobCondLight';
	font-size: 12px;
}
.each-search-linked-result .linked-search-image {
	background-size: cover;
	background-position: center center;
	width: 50px;
	height: 40px;
	float: left;
}
.linked-posts {
	overflow: hidden;
	margin-bottom: 20px;
}