div.block {
	height: 405px;
}
div.odd-articles-count-centering {
	line-height: 385px;
	text-align: center;
}
div.odd-articles-count-centering > div.article {
	background-color: #aaa;
}
div.odd-articles-count-centering span {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	line-height: 30px;
	font-size: 20px;
	font-family: 'RobCondBold';
	padding:0 120px;
}