.post .title-image {
	position: relative;
	border-radius: 2px;
	overflow: hidden;
}
.post .title-image .black-postphoto {
	position: absolute;
	top: 0;right: 0;bottom: 0;left: 0;
	margin:auto;
	z-index: 10;
	background-color: rgba(0,0,0,.3);
}
.post .title-image img {
	background-position: center center;
	background-size: cover;
	width: 100%;
}
.post .title-image > span {
	position: absolute;
	padding: 0 40px;
	width: 100%;
	top: 50%;
	left: 0;
	z-index: 15;
}
.post .title-image > span > span {
	color: transparent;
	font-size: 36px;
	line-height: 35px;
	font-family: 'RobCondBold';
}
.post .title-image > span > p { 
	margin-top: 10px;
	color: transparent;
}
.post .title-image > span p {
	line-height: 22px;
	font-size: 18px;
	padding: 0px 20px;
	font-family: 'RobCondBold';
} 
.post .title {
	font-size: 30px;
	line-height: 35px;
	margin-top: 0;
	left: 40px;
	right: 40px;
	padding: 3% 10px;
	position: absolute;
	text-align: center;
	top: -62%;
}
.post .title > h1 > span, .post .title > p {
	font-family: 'RobCondBold';
	color: white;
	margin-top: 0px;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.post .title > h1 > span {
	color : #FFB52E;
}
.post .info-panel {
	height: 30px;
	line-height: 30px;
	/*background-color: rgba(0,0,0,.2);*/
	padding: 0 10px;
	display: inline-block;
	/*float: left;*/
}
.post .info-panel .date {
	color: white;
	font-size: 15px;
	line-height: 30px;
	height: 30px;
	font-family: 'RobCondBold';
}
.post .info-panel .views {
	font-size: 15px;
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
}
.post .info-panel .views > span {
	color: white;
}
.post .info-panel .views .view-count {
	padding-left: 2px;
	font-family: 'RobCondBold';
}
.post .description {
	margin-top: 10px;
	font: italic 16px/24px 'RobCondLight', sans-serif;
}
.post .content {
	font: 16px/24px 'RobCondLight', sans-serif;
	margin-top: 10px;
}
.post .content h3, .post .content h2 {
	font-family: 'RobCondBold';
}
.post .content h2 {
	font-size: 25px;
}
.post .content a {
	color: #4D42FF !important;
}
.post .author {
	clear: both;
	font-style: italic;
}

/*// linked news*/

.each-linked-news {
	width: 100%;
	height: 70px;
	margin-bottom: 10px;
	clear: left;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
.each-linked-news:hover {
	background-color: rgba(255, 181, 46, .5);
}
.each-linked-news > div {
	float: left;
	height: 70px;
	line-height: 70px;
}
.each-linked-news .l-photo {
	background-size: cover;
	background-position: center center;
	width: 90px;
}
.each-linked-news .l-info {
	width: 480px;
	padding: 0 15px;
	border-width: 1px 1px 1px 0;
	border-color: #ddd;
	border-style: solid;
}
.each-linked-news .l-info > span {
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
}
.each-linked-news .l-info > span > p {
	padding: 0;
	margin: 0;
}
.each-linked-news .l-info .l-title {
	font-family: 'RobCondBold';
	font-size: 18px;
	padding-bottom: 2px;
}
.each-linked-news .l-info .l-date {
	font-family: 'RobCondLight';
	font-size: 13px;
	line-height: 15px;
}
.expand-button {
	margin: 10px auto;
	display: block;
	border-radius: 0px;
	font-family: 'RobCondBold';
	height: 40px;
	padding: 0px 10px;
	font-size: 18px;
	border: 1px solid #555;
}