.page * {
	color: #555;
	font-family: 'RobCondLight', sans-serif;
}
div.page {
	margin-top: 40px;
	overflow: hidden;
	margin-bottom: 20px;
	min-height: 800px;
}
div.page > * {
	float: left;
}
div.page .post {
	width: 50%;
	padding: 0 15px 15px 15px;
}
div.page .list, div.page .misc {
	width: 25%;
}
div.page .misc {
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
.gray {
	background-color: #e9e9e9;
}
.posts-list {
	margin-bottom: 20px;
}
.list a, .misc a {
	text-decoration: none;
}
.post .title {
	font-family: 'RobCondBold';
	font-size: 30px;
	line-height: 35px;
	margin-top: 0px;
}
.post .info-panel {
	height: 30px;
	line-height: 30px;
	background-color: rgba(0,0,0,.2);
	padding: 0 10px;
	display: inline-block;
	float: left;
}
.post .info-panel .date {
	color: #555;
	font-size: 15px;
	line-height: 30px;
	height: 30px;
	font-family: 'RobCondBold';
}
.post .info-panel .views {
	font-size: 15px;
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
}
.post .info-panel .views .view-count {
	padding-left: 2px;
	font-family: 'RobCondBold';
}
.post .description {
	margin-top: 10px;
	font: italic 16px/24px 'RobCondLight', sans-serif;
}
.post .content {
	font: 16px/24px 'RobCondLight', sans-serif;
	margin-top: 10px;
}
.post .content h3, .post .content h2 {
	font-family: 'RobCondBold';
}
.post .content h2 {
	font-size: 25px;
}
.post .content a {
	color: #4D42FF !important;
}
.tag-title {
	font-family: 'RobCondBold';
	font-size: 25px;
	padding: 0px 10px;
	margin-top: 10px;
	color: #4D42FF;
	display: inline-block;
}
.tag-title.popular {
	color: #FFB52E;
}
.each-post {
	border-radius: 2px;
	padding: 10px;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
}
.each-post:hover {
	/*background-color: #ACE3E8;*/
	background-color: rgba(255, 181, 46, .5);
}
.each-post .image {
	background-size: cover;
	width: 100%;
	height: 200px;
	background-position: center center;
}
.each-post .title {
	font-size: 20px;
	line-height: 24px;
	font-family: 'RobCondBold';
}
.each-post .date {
	font-size: 12px;
	color: #E85C49;
}
.each-post .description {
	font-size: 14px;
	line-height: 18px;
	padding-top: 5px;
}
.img_description {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 15px;
}
#vk_groups {
	width: 100%;
}
.social_share_buttons {
	height: 30px;
	margin: 5px 0 0 0;
	clear: both;
}
span.social_share, span.update_button {
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	color: white;
	float: left;
	margin-right: 3px;
}
span.social_share:hover, span.update_button:hover {
	opacity: 0.8;
}
span.fa-facebook {
	background-color: #3B5998;
}
span.fa-vk {
	background-color: #45668e;
}
span.fa-twitter {
	background-color: #4099FF;
}
span.fa-key {
	background-color: #059248;
}
div.after-text-advice {
	line-height: 25px;
	width: 100%;
	border-top: 1px solid #ddd;
	margin-top: 20px;
	padding: 10px 0;
	font-size: 18px;
	font-family: 'RobCondBold';
}
div.after-text-advice span {
	color: #4D42FF;
	font-family: inherit;
}

.social-buddies {
	padding: 10px 20px;
	text-align: center;
}

.social-buddies .tag-title {
	font-size: 20px;
	padding: 0;
	margin-bottom: 0;
}

.social-buddies .socials {
	height: 50px;
	line-height: 50px;
}
.social-buddies .socials span {
	height: 20px;
	line-height: 20px;
	display: inline-block;
	vertical-align: middle;
}
.social-buddies .socials span > * {
	float: left;
	margin-right: 20px;
}
.social-buddies .socials span > #vk_subscribe {
	width: 70px !important;
}

/*// linked news*/

.each-linked-news {
	width: 100%;
	height: 70px;
	margin-bottom: 10px;
	clear: left;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
.each-linked-news:hover {
	background-color: rgba(255, 181, 46, .5);
}
.each-linked-news > div {
	float: left;
	height: 70px;
	line-height: 70px;
}
.each-linked-news .l-photo {
	background-size: cover;
	background-position: center center;
	width: 90px;
}
.each-linked-news .l-info {
	width: 480px;
	padding: 0 15px;
	border-width: 1px 1px 1px 0;
	border-color: #ddd;
	border-style: solid;
}
.each-linked-news .l-info > span {
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
}
.each-linked-news .l-info > span > p {
	padding: 0;
	margin: 0;
}
.each-linked-news .l-info .l-title {
	font-family: 'RobCondBold';
	font-size: 18px;
	padding-bottom: 2px;
}
.each-linked-news .l-info .l-date {
	font-family: 'RobCondLight';
	font-size: 13px;
	line-height: 15px;
}
.expand-button {
	margin: 10px auto;
	display: block;
	border-radius: 0px;
	font-family: 'RobCondBold';
	height: 40px;
	padding: 0px 10px;
	font-size: 18px;
	border: 1px solid #555;
}