footer {
	height: 150px;
	line-height: 150px;
	margin-top: 30px;
	text-align: center;
	background-color: #444;
	/*background-color: #2E8CFF;*/
}
footer > div {
	float: left;
}
footer .info {
	width: 50%;
}
footer .metric, footer .nav {
	width: 25%;
	height: 150px;
	line-height: 150px;
}
footer .info > span, footer .nav > span {
	line-height: 15px;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
	font-family: 'RobCondLight';
	display: inline-block;
	color: #bbb;
}
footer .info p {
	color: #fff;
	font-size: 20px;
	padding: 0;
	margin: 0;
	line-height: 25px;
	font-family: 'RobCondBold';
}
footer .info {
	padding: 0px 130px;
}
footer .nav > span > span {
	padding: 3px 10px;
}
footer .nav > span > span a {
	color: #fff;
	text-decoration: none
}
footer .tk-rss {
	font-size: 20px;
	padding-right: 10px;
	color: #FFB52A;
	text-decoration: none;
	height: 35px;
	line-height: 38px;
}
footer .metric > span {
	display: inline-block;
	line-height: 35px;
	vertical-align: middle;
}
footer .metric > span > * {
	float: left;
	padding-right: 15px;
}

/*footer span {
	padding: 20px;
	font-size: 30px;
	height: 150px;
	font-family: 'RobCondBold';
	cursor: pointer;
	color: rgba(44, 85, 205, 1);
}
footer span:hover {
	color: rgba(44, 85, 205, .8);
}*/