.top {
	height: 100px;
	line-height: 100px;
	width: 100%;
	background-color: #222;
	position: relative;
}
.__stars__ {
	position: absolute;
	left: 25px;
	top: 0;
	height: 100%;
	width: 70px;
	overflow: hidden;
}
.top > span {
	line-height: 60px;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	width: 100%;
	padding: 0 20px;
}
.tk_logo,
.menu {
	float: left;
}
.tk_logo {
	height: 50px;
	width: 50px;
	margin-top: 5px;
	margin-left: 15px;
	position: relative;
	overflow: hidden;
}
.underlogo {
	position: absolute;
	left: 0;
	height: 800px;
	width: 100%;
	background: -webkit-linear-gradient(30deg, #222 5%, #3AB38E 30%, #FFB52E 55%, #BF3F10 75%, #222 95%);
	background: -o-linear-gradient(30deg, #222 5%, #3AB38E 30%, #FFB52E 55%, #BF3F10 75%, #222 95%);
	background: -moz-linear-gradient(30deg, #222 5%, #3AB38E 30%, #FFB52E 55%, #BF3F10 75%, #222 95%);
	background: linear-gradient(30deg, #222 5%, #3AB38E 30%, #FFB52E 55%, #BF3F10 75%, #222 95%);
	z-index: 80;
	-webkit-animation: bg_move 6s infinite;
	-o-animation: bg_move 6s infinite;
	animation: bg_move 6s infinite;
}
div[class*=__star__] {
	z-index: 80;
	position: absolute;
	width: 3px;
	top: 100px;
	height: 3px;
	background-color: #fff;
	z-index: 90;
	border-radius: 50%;
	box-shadow: 0 0 3px rgba(255,255,255,.5);
	-webkit-animation-name : star_move;
	-o-animation-name : star_move;
	animation-name : star_move;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.__star__1  { left: 10%;  -webkit-animation-delay: .4s; -o-animation-delay: .4s; animation-delay: .4s; -webkit-animation-duration: 6.1s; -o-animation-duration: 6.1s; animation-duration: 6.1s; }
.__star__2  { left: 20%;  -webkit-animation-delay: .8s; -o-animation-delay: .8s; animation-delay: .8s; -webkit-animation-duration: 4.3s; -o-animation-duration: 4.3s; animation-duration: 4.3s; }
.__star__3  { left: 30%;  -webkit-animation-delay: .2s; -o-animation-delay: .2s; animation-delay: .2s; -webkit-animation-duration:   3s; -o-animation-duration:   3s; animation-duration:   3s; }
.__star__4  { left: 40%;  -webkit-animation-delay: .9s; -o-animation-delay: .9s; animation-delay: .9s; -webkit-animation-duration: 3.6s; -o-animation-duration: 3.6s; animation-duration: 3.6s; }
.__star__5  { left: 50%;  -webkit-animation-delay: .1s; -o-animation-delay: .1s; animation-delay: .1s; -webkit-animation-duration: 1.7s; -o-animation-duration: 1.7s; animation-duration: 1.7s; }
.__star__6  { left: 60%;  -webkit-animation-delay: .2s; -o-animation-delay: .2s; animation-delay: .2s; -webkit-animation-duration:   1s; -o-animation-duration:   1s; animation-duration:   1s; }
.__star__7  { left: 70%;  -webkit-animation-delay: .7s; -o-animation-delay: .7s; animation-delay: .7s; -webkit-animation-duration: 2.4s; -o-animation-duration: 2.4s; animation-duration: 2.4s; }
.__star__8  { left: 80%;  -webkit-animation-delay: .3s; -o-animation-delay: .3s; animation-delay: .3s; -webkit-animation-duration:   6s; -o-animation-duration:   6s; animation-duration:   6s; }
.__star__9  { left: 90%;  -webkit-animation-delay: .5s; -o-animation-delay: .5s; animation-delay: .5s; -webkit-animation-duration:   4s; -o-animation-duration:   4s; animation-duration:   4s; }
.__star__10 { left: 55%;  -webkit-animation-delay: .6s; -o-animation-delay: .6s; animation-delay: .6s; -webkit-animation-duration:   2s; -o-animation-duration:   2s; animation-duration:   2s; }
@-webkit-keyframes star_move {
	from { top : -100px; }
	to { top: 200px; }
}
@-o-keyframes star_move {
	from { top : -100px; }
	to { top: 200px; }
}
@-moz-keyframes star_move {
	from { top : -100px; }
	to { top: 200px; }
}
@keyframes star_move {
	from { top : -100px; }
	to { top: 200px; }
}

@-webkit-keyframes bg_move {
	from { top : -750px; }
	to { top: 0px; }
}
@-o-keyframes bg_move {
	from { top : -750px; }
	to { top: 0px; }
}
@-moz-keyframes bg_move {
	from { top : -750px; }
	to { top: 0px; }
}
@keyframes bg_move {
	from { top : -750px; }
	to { top: 0px; }
}
.tk_logo img {
	height: 100%;
	width: 100%;
	vertical-align: initial;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	z-index: 100;
}
.menu {
	padding-left: 50px;
}
.menu a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-family: 'RobCondLight';
	padding: 3px 0;
	margin: 0 5px;
	-webkit-transition: color .4s;
	-o-transition: color .4s;
	transition: color .4s;
}
.menu a:hover {
	color: #FFB52E;
}
.menu a.selected {
	border-bottom: 3px solid #FFB52E;
	color: #FFB52E;
}
._regime {
	float: right;
	width: 150px;
	text-align: left;
}
.usn {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
._regime p {
	float: left;
	color: white;
	padding: 0;
	clear: both;
	margin: 0;
	font-family: 'RobCondBold';
}
p.regime {
	font-size: 12px;
	line-height: 15px;
	text-shadow: 0px 1px 2px rgba(0,0,0,.5);
}
p.type-name {
	font-size: 40px;
	line-height: 40px;
	text-shadow: 0px 2px 2px rgba(0,0,0,.5);
}

/*// mini header //*/

.mini-top {
	width: 1200px;
	height: 50px;
	border-top: 4px solid #FFB52E;
	line-height: 50px;
	position: fixed;
	top: -60px;
	color: white;
	z-index: 9999;
	background-color: #222;
	box-shadow: 0 2px 3px rgba(0,0,0,.5);
	-webkit-transition: top .5s;
	-o-transition: top .5s;
	transition: top .5s;
}
.mini-top > span {
	width: 100%;
	line-height: 40px;
	height: 40px;
	font-size: 20px;
	font-family: 'RobCondBold';
	padding-left: 20px;
	display: inline-block;
	vertical-align: middle;
}
.mini-top .tk_logo {
	height: 30px;
	width: 30px;
	margin: 2px 0;
}
.mini-top .tk_logo img {
	width: 100%;
	height: 100%;
}
.mini-top ._regime {
	float: right;
	width: 100px;
	text-align: left;
}
.mini-top ._regime p.type-name {
	font-size: 25px;
	line-height: 25px;
}
.mini-top ._regime p.regime {
	font-size: 10px;
	line-height: 12px;
}
.mini-top.showed {
	top: 0;
}