.top {
	height: 150px;
	line-height: 150px;
	width: 100%;
	background-image: url(/images/header-image.jpg);
	background-size: contain;
	background-position-x: center;
	background-attachment: fixed;
}
.top > span {
	line-height: 60px;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	width: 100%;
	padding: 0 20px;
}
.top > span ._nav {
	float: left;
}
.top > span ._regime {
	float: right;
	margin-top: 20px;
	width: 150px;
	text-align: left;
}
.top .sections {
	height: 50px;
	font-size: 25px;
	font-family: 'RobCondBold';
}
.sections._logo a {
	font-size: 57px;
}
.sections._logo a:hover {
	font-size: 57px;
	color: #fff !important;
}
.top .sections a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	margin: 0 10px;
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
	transition: color .5s;
}
.top .sections a:hover {
	color: #FFB52E;
}
.top .sections a.selected {
	border-bottom: 5px solid #FFB52E;
	color: #FFB52E;
}
.top a.icon {
	width: 60px;
	height: 60px;
	display: inline-block;
}
.usn {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.top-squares {
	float: left;
	height: 60px;
}
div.top-squares:nth-of-type(2) {
	margin-right: 10px;
}
.news_type {
	height: 60px;
	width: 160px;
	padding: 5px;
	box-shadow: 0 2px 4px rgba(0,0,0,.5);
	background-color: #FFB52E;
}
._regime p {
	float: left;
	color: white;
	padding: 0;
	clear: both;
	margin: 0;
	font-family: 'RobCondBold';
}
p.regime {
	font-size: 12px;
	line-height: 15px;
	text-shadow: 0px 1px 2px rgba(0,0,0,.5);
}
p.type-name {
	font-size: 40px;
	line-height: 40px;
	text-shadow: 0px 2px 2px rgba(0,0,0,.5);
}