/*blocks positioning*/
p {
	padding: 0;
	margin: 0;
}
div.feed {
	overflow: hidden;
	min-height: 800px;
	margin-top: 10px;
}
div.block {
	position: relative;
	z-index: 1;
	width: 50%;
	float: left;
	height: 600px;
}
news.s11, news.s21,news.s22 {
	padding: 10px;
	float: left;
	position: relative;
}
news.s11 {
	width: 50%;
	height: 67.5%;
}
news.s21 {
	width: 100%;
	height: 32.5%;
}
news.s22 {
	width: 100%;
	height: 100%;
}
.inner-container {
	display: block;
	position: relative;
	border-radius: 3px;
	height: 100%;
	width: 100%;
	color: #101010;
	text-decoration: none;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 0px 1px 3px rgba(0,0,0,.3);
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}
.inner-container .hover-stater {
	position: absolute;
	top: 0;
	left : 0;
	right: 0;
	bottom: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
	z-index: 9999;	
}
.inner-container:hover .hover-stater {
	border-top: 4px solid #FFB52E;
	border-bottom: 4px solid #FFB52E;
}
.inner-container:hover {
	text-decoration: none;
	color: black;
	box-shadow: 0px 1px 3px rgba(0,0,0,.5);
}
.inner-container .views {
	position: absolute;
	height: 20px;
	color: #FFB52E;
	font-family: 'RobCondBold';
	bottom: 10px;
	right: 10px;
	padding: 0 5px;
	background: rgba(0,0,0,.5);
	box-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.inner-container .views > span {
	font-size: 14px;
	height: 20px;
	line-height: 20px;
}
.inner-container .views > span > span:last-child {
	padding-left: 5px;
}
/*//different styles*/
news.s11 .inner-container .special_mark,
news.s21 .inner-container .special_mark,
news.s22 .inner-container .special_mark {
	position: absolute;
	top: 15px;
	color: #fff;
	font-family: 'RobCondBold';
	background-color: #FFB52E;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
news.s11 .inner-container .special_mark {
	right: 0;
	padding: 2px 10px;
	font-size: 16px;
}
news.s21 .inner-container .special_mark {
	left: 0;
	padding: 2px 10px;
	font-size: 16px;
}
news.s22 .inner-container .special_mark {
	right: 0;
	top: 20px;	
	padding: 5px 15px;
	font-size: 20px;
}

news.s11 .inner-container .picture,
news.s21 .inner-container .picture,
news.s22 .inner-container .picture {
	position: relative;
	background-size: cover;
	background-position: center center;
}

news.s11 .inner-container .picture {
	height: 50%;
	width: 100%;
	border-radius: 3px 3px 0 0;
}
news.s21 .inner-container .picture {
	float: left;
	height: 100%;
	width: 48%;
	margin-right: 4%;
	border-radius: 3px 0 0 3px;
}
news.s22 .inner-container .picture {
	height: 70%;
	width: 100%;
	border-radius: 3px 3px 0 0;
}
news.s11 .inner-container .text-container {
	height: 50%;
	width: 100%;
	padding: 2px 10px;
}
news.s21 .inner-container .text-container {
	padding: 5px 10px 5px 0;
	height: 100%;
	width: 48%;
	float: left;
}
news.s22 .inner-container .text-container {
	height: 30%;
	width: 100%;
	padding: 10px 20px;
}
news[class*=s] .inner-container .text-container .news_title {
	font-family: 'RobCondBold';
}
news.s11 .inner-container .text-container .news_title {
	margin: 0 0 2px 0;
	font-size: 18px;
	line-height: 20px;
}
news.s21 .inner-container .text-container .news_title {
	font-size: 17px;
	line-height: 19px;
	margin: 0 0 5px 0;
}
news.s22 .inner-container .text-container .news_title {
	margin: 0 0 5px 0;
	font-size: 28px;
	line-height: 30px;
}
news[class*=s] .inner-container .text-container .description {
	font-family: 'RobCondLight';
}
news.s11 .inner-container .text-container .description {
	font-size: 14px;
	line-height: 18px;
}
news.s21 .inner-container .text-container .description {
	font-size: 13px;
	line-height: 17px;
}
news.s22 .inner-container .text-container .description {
	font-size: 17px;
	line-height: 23px;
}
.after-feed {
	text-align: center;
	margin-top: 20px;
}
.after-feed .news-load {
	height: 40px;
	padding: 0px 10px;
	line-height: 40px;
	font-size: 18px;
	font-family: 'RobCondBold';
	min-width: 230px;
	display: inline-block;
	background-color: #e5e5e5;
}
.fa-refresh {
	margin-right: 5px;
}

@media screen and (max-width:500px) and (orientation:portrait) {
	div.block {
		width: 100%;
		height: 1200px;
	}
	news.s21 .inner-container .picture {
		width: 49%;
		margin-right: 2%;
	}
	news.s21 .inner-container .text-container {
		width: 49%;
	}
	news.s11 .inner-container .text-container .news_title {
		font-size: 36px;
		line-height: 40px;
	}
	news.s21 .inner-container .text-container .news_title {
		font-size: 34px;
		line-height: 38px;
	}
	news.s22 .inner-container .text-container .news_title {
		font-size: 56px;
		line-height: 60px;
	}
	news.s11 .inner-container .text-container .description {
		font-size: 28px;
		line-height: 36px;
	}
	news.s21 .inner-container .text-container .description {
		font-size: 26px;
		line-height: 34px;
	}
	news.s22 .inner-container .text-container .description {
		font-size: 34px;
		line-height: 46px;
	}

}

.anim {
	-webkit-animation: appear 1s;
	-moz-animation: appear 1s;
	animation: appear 1s;
}
.anim .picture {
	-webkit-animation: scale 1s;
	-moz-animation: scale 1s;
	animation: scale 1s;
}

@-webkit-keyframes appear {
	from { opacity : 0; -webkit-transform:  rotate(5deg); -moz-transform:  rotate(5deg); transform:  rotate(5deg);}
	to { opacity : 1; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); transform: rotate(0deg);}}
@-moz-keyframes appear {
	from { opacity : 0; -webkit-transform:  rotate(5deg); -moz-transform:  rotate(5deg); transform:  rotate(5deg);}
	to { opacity : 1; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); transform: rotate(0deg);}}
@keyframes appear {
	from { opacity : 0; -webkit-transform:  rotate(5deg); -moz-transform:  rotate(5deg); transform:  rotate(5deg);}
	to { opacity : 1; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); transform: rotate(0deg);}}


@-webkit-keyframes scale {
	from { opacity : 0; -webkit-transform: scale(.5); -moz-transform: scale(.5); transform: scale(.5);}
	to { opacity : 1; -webkit-transform: scale(1); -moz-transform: scale(1); transform: scale(1);}}
@-moz-keyframes scale {
	from { opacity : 0; -webkit-transform: scale(.5); -moz-transform: scale(.5); transform: scale(.5);}
	to { opacity : 1; -webkit-transform: scale(1); -moz-transform: scale(1); transform: scale(1);}}
@keyframes scale {
	from { opacity : 0; -webkit-transform: scale(.5); -moz-transform: scale(.5); transform: scale(.5);}
	to { opacity : 1; -webkit-transform: scale(1); -moz-transform: scale(1); transform: scale(1);}}



/*//events*/
.padded {
	padding: 10px;
}
.events {
	width: 100%;
	height: 195px;
}
.events .each-event {
	width: 100%;
	height: 175px;
	text-align: center;
}
.each-event .event-image {
	display: inline-block;
	background-position: center center;
	background-size: cover;
	width: 140px;
	height: 100px;
	margin: 0;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
	border-radius: 4px;
	overflow: hidden;
	
}
.each-event:hover .event-image {
	height: 175px;
	width: 100%;
}
.each-event .event-info {
	font-family: 'RobCondBold';
	position: relative;
	top: 0;
	color: #000;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
}
.each-event:hover .event-info {
	top: 100px;
}
.each-event .event-info span {
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
}
.each-event .event-info span {
	font-size: 16px;
}
.each-event .event-info-top {
	font-family: 'RobCondBold';
	position: absolute;
	height: 175px;
	width: 100%;
	color: #000;
	line-height: 175px;
	top: 0;
	padding: 0 50px;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}
.each-event:hover .event-info-top {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
}

.each-event .event-info-top span {
	display: inline-block;
	vertical-align: middle;
	line-height: 25px;
	font-size: 20px;
}
.each-event .event-info-top span p {
	font-size: 20px;
	color: #fff;
	text-shadow: 0px 1px 2px rgba(0,0,0,.5);
}
.owl-page.active span {
	background: #FFB52E !important;
}

/*// arcticle*/

.article {
	width: 100%;
	height: 385px;
	/*padding: 15px;*/
}
.article-image {
	position: relative;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100%;
	line-height: 385px;
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
}
.article-info {
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	font-family: 'RobCondBold';
	font-size: 18px;
	color: #fff;
	z-index: 9999;
	position: relative;
}
.article .fader {
	position: absolute;
	top: 0;right: 0;bottom: 0;left: 0;
	background-color: rgba(0,0,0,.4);
}
.article-type {
	font-size: 16px;
}
.article-title {
	font-size: 20px;
	color: #FFB52E;
}
.article-misc {
	font-size: 14px;
}





















