/*blocks positioning*/
	div.block {
		position: relative;
		z-index: 1;
		width: 50%;
		float: left;
		height: 400px;
	}
	div.s11, div.s21,div.s22 {
		padding: 10px;
		float: left;
	}
	div.s11, div.s21 {
		height: 200px;
	}
	div.s11 {
		width: 50%;
	}
	div.s21 {
		width: 100%;
	}
	div.s22 {
		width: 100%;
		height: 400px;
}

/*blocks content positioning styling and animation*/
	div.inner_container p {
		margin: 0;
		text-align: center;
		padding: 5px;
	}
	div.inner_container {
		position: relative;
		width: 100%;
		height: 100%;
		background-color: lightblue;
		overflow: hidden;
		box-shadow: 0 1px 3px rgba(0,0,0,.5);
	}
	div.img {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		right: 0;
	}

/*description styles and animation*/
	div.description {
		position: absolute;
		display: table;
		height:100%;
		top: 0;
		width:100%;

		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
	    transform: translateX(-100%);

	    -webkit-transition: all .3s 0s; /*transition-delay on mouseleave*/
		-moz-transition: all .3s 0s; /*transition-delay on mouseleave*/
		transition: all .3s 0s; /*transition-delay on mouseleave*/
	}
	div.inner_container:hover .description{
		-webkit-transform: translateX(0); 
		-moz-transform: translateX(0); 
	    transform: translateX(0); 

		-webkit-transition: all .3s .2s; /*transition-delay on mouseenter*/
		-moz-transition: all .3s .2s; /*transition-delay on mouseenter*/
		transition: all .3s .2s; /*transition-delay on mouseenter*/
	}
	div.s11 .inner_container .description p {
		max-height: 60px;
	}
	div.s11 .inner_container .description p, 
	div.s22 .inner_container .description p {
		position: absolute;
		left: 0;
		right: 0;
		bottom:0;
		background-color: white;
	}
	div.s21 .inner_container .description {
		height: 100%;
		width: 48%;
		display: table;
		background-color: white;
	}
	div.s21 .inner_container .description p {
		display: table-cell;
		vertical-align: middle;
	}
	div.s22 .inner_container .description p {
		max-height: 190px;
	}

/*title styles and animation*/
	div.news_title { 
		display: table;
		height: 100%;
		width: 100%;
	}
	div.news_title p {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		padding: 20px;
		font-size: 26px;
		font-weight: 700;
		text-shadow: 0px 1px 1px rgba(0,0,0,.5);
		color: #21C7C2;
	}
	div[class*=s] .inner_container:hover .img .news_title {
		-webkit-transition: all .3s 0s;
		-moz-transition: all .3s 0s;
		transition: all .3s 0s;
	}
	div[class*=s] .inner_container .img .news_title {
		-webkit-transition: all .3s .2s;
		-moz-transition: all .3s .2s;
		transition: all .3s .2s;
	}
	div.s11 .inner_container:hover .img .news_title {
		-webkit-transform: translateY(-45px);
		-moz-transform: translateY(-45px);
	    transform: translateY(-45px);
	}
	div.s21 .inner_container:hover .img .news_title {
		padding-left: 290px;
		padding-right: 20px;	
	}
	div.s22 .inner_container:hover .img .news_title {
		-webkit-transform: translateY(-100px);
		-moz-transform: translateY(-100px);
	    transform: translateY(-100px);
	};
